<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--    <bean id="alien1" class="com.siddharth.Alien" scope="prototype"></bean> Default scope is 'singleton' -->
    <bean id="alien1" class="com.siddharth.Alien" autowire="byType">
        <property name="age" value="25"/> <!--using setter injection-->
        <!--<property name="laptop" ref="laptop1"/> using reference injection-->

        <!--<constructor-arg type="com.siddharth.Laptop" ref="laptop1" /> constructor injection
        <constructor-arg type="int" value="25"  />-->

        <!--Preferred-->
        <!--<constructor-arg index="1" ref="laptop1" />
        <constructor-arg index="0" value="25"  />-->

        <!--<constructor-arg name="age" value="25"  />-->
        <!--<constructor-arg name="computer" ref="laptop1" />-->
    </bean>
    <bean id="alien2" class="com.siddharth.Alien"/>
    <bean id="computer1" class="com.siddharth.Laptop" primary="true"/> <!--primary helps in type confusion-->
    <bean id="computer2" class="com.siddharth.Desktop" lazy-init="true"/> <!--lazy-init helps to initialize object when it is used/needed-->
    <!--lazy doesn't make objects of scope prototype, it creates when needed but still keeps it singleton-->
    <!--
    Scopes:
    1. Singletion - Creates single object of a class while loading the app and reuse it multiple times.
    2. Prototype - Allow to multiple objects of a class as per requirements but not while loading but whenever using it.
    -->
    <bean id="alien3" class="com.siddharth.Alien">
        <property name="computer3">
            <bean id="computer3" class="com.siddharth.Laptop"/>
        </property>
    </bean>

</beans>

