<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--    <bean id="alien1" class="com.siddharth.Alien" scope="prototype"></bean> Default scope is 'singleton' -->
    <bean id="alien1" class="com.siddharth.Alien">
        <property name="age" value="25"></property> <!--using setter injection-->
    </bean>
    <bean id="alien2" class="com.siddharth.Alien"></bean>
    <bean class="com.siddharth.Laptop"></bean>
    <!--
    Scopes:
    1. Singletion - Creates single object of a class while loading the app and reuse it multiple times.
    2. Prototype - Allow to multiple objects of a class as per requirements but not while loading but whenever using it.
    -->
</beans>

